* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    min-height: 100vh;
}

.main-header {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    background-color: white;
}

img {
    width: 250px;
    height: auto;
    object-fit: cover;
    margin-bottom: 5px; 
    border-radius: 100%;  
    top: 0%;
    left: 0%;
}



footer {
    background-color: rgb(33, 7, 95);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}